@media screen and (max-width: 1199px) {
  .header__slogan {
    font-size: 13px;

    br {
      display: none;
    }
  }
  .home-slider__item__title {
    font-size: 36px;
  }
  .home-slider__item__title b, .home-slider__item__title div {
    font-size: 60px;
  }
  .home-slider__item__text p {
    font-size: 18px;
  }
  .home-slider__item__img {
    width: 50vw;

    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .header__top {
    padding: 15px 0;
  }
  .header__nav {
    padding-top: 15px;
  }
}

@media screen and (max-width: 991px) {
  .home-slider__item__desc {
    width: 100%;
    padding-top: 0;
  }
  .home-slider__item__img {
    width: 90vw;

    img {
      height: 300px;
      width: auto;
    }
  }
  .home-slider__footer {
    bottom: auto;
    position: relative;
    left: auto;
  }
  .header__right {
    display: none;
  }
  .home-slider {
    margin-bottom: 30px;
  }
  .header__left__mob {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
  }
  .header__left {
    display: flex;
    align-items: center;
  }
  .header__logo {
    width: 90px;
  }
  .header__top {
    border-bottom: none;
  }
  .header {
    border-bottom: 1px solid #d7d7d8;
    padding-bottom: 0;
    background: #f1f1f1;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
  }
  .main {
    padding-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  .home-slider__item__text p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .home-slider__item__img {
    display: block;
    width: calc(100% + 30px);
    position: relative;
    margin-left: -15px;
    left: auto;
    top: auto;
    height: auto;

    img {
      height: auto;
      width: 100%;
    }
  }
  .home-slider__item {
    height: auto;
    padding-bottom: 10px;
  }
  .home-slider__item__title {
    font-size: 18px;
    padding-bottom: 15px;
    line-height: 1;
  }
  .home-slider__item__title b, .home-slider__item__title div {
    font-size: 30px;
  }
}
