@media screen and (max-width: 1199px) {
  .single-product__photos__col-big {

    width: calc(100% - 100px);
  }
  .single-product__info {
    padding: 30px;
  }
  .header__slogan {
    font-size: 13px;

    br {
      display: none;
    }
  }
  .home-slider__item__title {
    font-size: 36px;
  }
  .home-slider__item__title b, .home-slider__item__title div {
    font-size: 60px;
  }
  .home-slider__item__text p {
    font-size: 18px;
  }
  .home-slider__item__img {
    width: 50vw;

    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .header__top {
    padding: 15px 0;
  }
  .header__nav {
    padding-top: 15px;
  }
  .fpad100 {
    padding-bottom: 30px;
  }
  .fpad130 {
    padding-bottom: 50px;
  }
  .fpad80 {
    padding-bottom: 20px;
  }
  .page-title h1 {
    font-size: 60px;
  }
  .page-nav li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .header__nav__list>li>a {
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
    color: #001e42;
  }
  .header__nav__list>li {
    position: relative;
  }
  .header__nav__list>li:not(:first-child) {
    border-top: 1px solid #d7d7d8;
  }
  .header__nav__list>li:hover .header__nav__sub-menu {
    display: none;
    opacity: 0 !important;
    visibility: hidden;
  }
  .header__nav__sub {
    padding-right: 30px;
  }

  .modal-dialog {
    width: 400px;
    max-width: 400px;
  }
  .form-submit .btn {
    height: 48px;
    font-size: 15px;
    min-width: 160px;
  }
  .modal-dialog .modal-content {
    padding: 30px 30px 40px;
    width: 400px;
  }
  .modal-dialog .modal-content__title {
    font-size: 24px;
  }
  .single-product__price {
    font-size: 18px;
  }
  .single-product__info__group {
    display: block;
  }
  .single-product__photos {
    display: block;
    .single-product__photos__col-min {
      display: none;
    }
    .single-product__photos__col-big {
      width: 100%;
    }
  }
  .single-product__img {
    height: 400px;
    padding: 15px;
    img {
      width: 100%;
      height: 370px;
      object-fit: contain;
    }
  }
  .single-product__docs {
    padding-bottom: 30px;
  }
  .page-nav li a {
    padding-left: 15px;
    min-height: 50px;
    line-height: 1.1;
    font-size: 14px;
  }
  .breadcrumb {
    padding-top: 0;
    li {
      font-size: 12px;
      a {
        font-size: 12px;
      }
    }
  }
  .offcanvas-title {
    font-weight: 700;
    font-size: 18px;
  }
  .page-title h1 {
    font-size: 60px;
    padding-bottom: 30px;
  }
  .fpad30 {
    padding-bottom: 10px;
  }
  .h2 {
    font-size: 24px;
  }
  .home-slider__item__desc {
    width: 100%;
    padding-top: 0;
  }
  .home-slider__item__img {
    width: 90vw;

    img {
      height: 300px;
      width: auto;
    }
  }
  .home-slider__footer {
    bottom: auto;
    position: relative;
    left: auto;
  }
  .header__right {
    display: none;
  }
  .home-slider {
    margin-bottom: 30px;
  }
  .header__left__mob {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      width: 20px;
    }
  }
  .header__left {
    display: flex;
    align-items: center;
  }
  .header__logo {
    width: 90px;
  }
  .header__top {
    border-bottom: none;
  }
  .header {
    border-bottom: 1px solid #d7d7d8;
    padding-bottom: 0;
    background: #f1f1f1;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
  }
  .main {
    padding-top: 80px;
  }
  .text h2.fs-42 {
    font-size: 30px;
  }
  .footer__top {
    display: block;
    text-align: center;
    padding: 15px 0;
  }
  .footer__logo {
    display: block;
    width: 92px;
    min-width: 92px;
    margin: 0 auto 15px;
  }
  .footer__middle {
    padding: 15px 0;
    text-align: center;
  }
  .footer__adr {
    height: auto;
    padding-bottom: 15px;
  }
  .footer__bottom {
    padding: 15px 0;
    text-align: center;
  }
  .footer__web {
    margin: 15px auto;
    width: 185px;
  }
  .footer__oferta {
    padding-top: 15px;
  }
  .header__mob-nav-top {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #d7d7d8;
  }
  #mobNav {
    border-bottom: none;
    --bs-offcanvas-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header__nav__list {
    display: block;
    padding: 15px 0;
  }
  .header__mob-nav-footer {
    display: block;
    text-align: center;
    padding-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .articles__img {
    height: 200px;
  }
  .articles__title{
    font-size: 16px;
    line-height: 20px;
  }
  .articles__anons {
    font-size: 13px;
  }
  .single-product__info__group:not(:last-child) {
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  .single-product__title {
    font-size: 24px !important;
  }
  .single-product__anons {
    margin-bottom: 15px;
    padding-bottom: 20px;
    p {
      font-size: 16px;
    }
  }
  .single-product__info__caption {
    min-width: 100%;
    width: 100%;
    font-size: 20px;
  }
  .single-product__info {
    margin-bottom: 30px;
  }
  .text ul li {
    padding-left: 20px;
  }
  .text ul li:after {
    top: 7px;
  }
  .alert-info {
    font-size: 12px;
  }
  .single-product__price {
    padding-bottom: 15px;
  }
  .single-product__price .product-card__price {
    font-size: 24px;
  }
  .page-title h1 {
    font-size: 36px;
    padding-bottom: 20px;
  }
  .cookie__wrap {
    display: block !important;
    padding: 18px 30px 20px 62px;
  }
  .cookie__ico {
    left: 20px;
    position: absolute;
    top: 20px;
    width: 24px;
    z-index: 1;
  }
  .cookie__text {
    font-size: 12px;
    padding: 0 0 15px;
  }
  .cookie__btn {
    max-width: 150px;
  }
  .footer__adr {
    padding-bottom: 10px;
  }
  .btn {
    min-height: 48px;
    height: auto;
  }

  .product-card__title.fs-24 {
    font-size: 18px;
  }
  .cat-box--min {
    min-height: 270px;
  }
  .product-card__text.fs-16 {
    font-size: 14px;
  }
  .pdf-link {
    align-items: flex-start;
    font-size: 14px;
    span {
      min-height: 36px;
      display: flex;
      align-items: center;
    }
  }
  .hr-line {
    margin: 20px 0;
  }
  .fpad60 {
    padding-bottom: 20px;
  }
  .banner-box__img-footer{
    img {
      max-width: 130px;
    }
  }
  .banner-box__img-top {
    img {
      max-width: 60px;
      height: auto;
    }
  }
  .banner-box--n1 {
    background-image: url("../images/dist/banner1_mob.jpg");
    background-position: 50% 100%;
    min-height: 352px !important;
  }
  .full-banner {
    padding: 30px 30px 0 30px;
  }
  .text h2,
  .text h2.fs-42 {
    font-size: 20px;
  }
  .banner-box {
    padding: 30px;
    min-height: 300px;
  }
  .js-slider-product {
    .swiper-slide {
      width: 220px;
    }
  }
  .product-card__img {
    height: 190px;
  }
  .product-card {
    padding: 20px;
  }
  .cat-box__link {
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .product-card__title,
  .header__email {
    font-size: 16px;
  }
  .header__phone {
    font-size: 18px;
  }
  .banner-box__wrap p,
  .text p,
  .text li,
  .footer__slogan,
  .footer__adr,
  .footer__link,
  .footer__oferta,
  .btn {
    font-size: 14px;
  }
  .product-card__text,
  .header__work-time,
  .footer__copy,
  .footer__web__desc {
    font-size: 12px;
  }
  .footer__web {
    width: 170px;
  }
  .product-card__price,
  .banner-box__wrap h3 {
    font-size: 20px;
  }
  .product-card__footer {
    font-size: 16px;
  }
  .swiper__nav {
    display: none;
  }
  .cat-box {
    padding: 25px;
    &__title {
      height: auto;
      padding-bottom: 20px;
      font-size: 18px;
    }
    &__img {
      height: 150px;
    }
  }
  .home-slider__item__text p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .home-slider__item__img {
    display: block;
    width: calc(100% + 30px);
    position: relative;
    margin-left: -15px;
    left: auto;
    top: auto;
    height: auto;

    img {
      height: auto;
      width: 100%;
    }
  }
  .home-slider__item {
    height: auto;
    padding-bottom: 10px;
  }
  .home-slider__item__title {
    font-size: 18px;
    padding-bottom: 15px;
    line-height: 1;
  }
  .home-slider__item__title b, .home-slider__item__title div {
    font-size: 30px;
  }
  .fpad130 {
    padding-bottom: 30px;
  }
  .fpad100 {
    padding-bottom: 20px;
  }
  .text h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 574px) {
  .page-404 {
    padding: 30px 0 50px;
  }
  .page-404__title {
    font-size: 100px !important;
  }
  .page-404__caption {
    font-size: 20px;
    margin-top: -20px;
  }
  .art-image {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
    img {
      border-radius: 10px;
    }
  }
  .articles__img {
    height: 160px;
  }
  .page-title h1 {
    font-size: 24px;
  }
  .single-product__img {
    height: 250px;
    img {
      height: 220px;
    }
  }
  .single-product__photos__col-big .product-card__badge span {
    display: none;
  }
  .single-product__info {
    padding: 20px;
  }
  .single-product__btns {
   flex-wrap: wrap;
    gap: 10px;
    .btn {
      width: 100%;
    }
  }
  .modal-dialog .modal-content {
    padding: 30px 15px;
  }
  .modal-dialog .modal-content,
  .modal-dialog {
    max-width: 300px;
    width: 300px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .form-checkbox__text {
    font-size: 13px;
  }
  .modal-dialog .modal-content__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 440px) {
  #brandSlider:after {
    margin-left: 80px;
  }
  #brandSlider:before {
    margin-right: 80px;
  }
  #brandSlider {
    width: 142px;
    margin: 0 auto;
  }
}
